
%script{type: 'text/javascript'}
  != 'var USERNAME = "' + username + '";'

%script{type: 'text/javascript', src: '/public/js/client.js'}

- if (agent)
  %script{type: 'text/javascript'}
    $(function() { chat = new AgentChat(USERNAME); });

- if (!agent && username)
  %script{type: 'text/javascript'}
    $(function() { chat = new GuestChat(USERNAME); });

%form{method: "post", action: "/identify"}
  #username-field
    = 'Username'
    %input#username{type: "text", name: "username"}
  #question-field
    = 'Question'
    %input#question{type: "text", name: "question"}
  #os-field
    = 'OS'
    %input#os{type: "text", name: "os"}
  #version-field
    = 'Firefox Version'
    %input#version{type: "text", name: "version"}
  #extensions-field
    = 'Extensions'
    %input#extensions{type: "text", name: "extensions"}
  %input#submit{type: "submit", value: "Help!"}
